$c-body-bg: #fbfbfb;
$c-header-bg: #fff;
$c-toast-bg: #f5d730;
$c-overlay-bg: rgba(0, 0, 0, 0.85);

$c-bg-primary: #f6f7f8;
$c-bg-secondary: #fefcef;

$c-btn-bg: #e9f2c3;
$c-btn-bg-hover: #202020;
$c-btn-text: #444;
$c-btn-text-hover: #f5d730;

$c-header-border: #eee;
$c-border-gray: #f0f0f0;

$c-text-dark-1: #202020;
$c-text-dark-2: #444;
$c-text-dark-3: #606060;
$c-text-dark-4: #808080;

$c-text-red: #ff0000;

$c-close: #fff;
$c-close-hover: #f5d730;
