.toast-container {
  z-index: 9999;
  position: fixed;
  top: 24rem;
  right: 24rem;
  display: flex;
  flex-direction: column;
  gap: 16rem;
  pointer-events: none;
}

.toast {
  opacity: 0;
  padding: 24rem;
  box-shadow: 0 8rem 20rem rgba(0,0,0, 0.2);
  background: $c-toast-bg;
  font-size: 16rem;
  color: $c-text-dark-2;
  transform: translateX(100%);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.toast--show {
  opacity: 1;
  transform: translateX(0);
}
